<div class="tab-container">
  <div class="left sect">
    <mat-card>
      <div class="title">Juez Virtual Para Compiladores</div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lorem blandit, bibendum lectus quis,
          malesuada augue. Nam ac massa id dolor lobortis volutpat egestas ut velit. In luctus metus quis velit
          tristique auctor. Donec finibus sodales leo, pretium lacinia sapien venenatis id. Sed euismod eros ac elit
          fermentum, eu sodales nisi lobortis. Morbi molestie dolor massa. Etiam ac auctor dolor, id pellentesque velit.
          Donec blandit convallis lorem vel scelerisque. Nullam pellentesque neque eu feugiat pellentesque. Pellentesque
          pretium commodo mauris a dictum. Integer id erat lobortis, hendrerit justo vitae, ornare turpis. Suspendisse
          potenti. Sed vel sapien ullamcorper, malesuada lacus sed, hendrerit diam.
        </p>
        <p>
          Sed finibus, quam in blandit bibendum, justo dui auctor mauris, eu tempus sapien felis quis nulla. Nulla
          dapibus diam erat, gravida tincidunt nisi dapibus non. Donec efficitur neque vel orci eleifend dictum. Mauris
          tempus consectetur nisi, fermentum placerat mauris placerat eget. Duis in luctus velit, vel sollicitudin sem.
          Aliquam varius libero leo, at ultricies lacus dapibus nec. Aliquam molestie nec nunc vitae feugiat. Nullam et
          mi id arcu sollicitudin euismod et vitae augue. Etiam justo risus, sollicitudin venenatis erat sed,
          ullamcorper ultricies tellus.
        </p>
        <p>
          In ut lobortis libero. Proin imperdiet vel diam vitae varius. Sed elementum, eros nec auctor rhoncus, dolor
          nulla finibus lectus, ac varius mauris elit vitae felis. Sed tortor sem, varius sit amet urna ac, tempus
          posuere orci. Integer bibendum metus a accumsan ullamcorper. Nunc a mauris vitae enim mollis ultrices. Etiam
          interdum quam vel libero accumsan tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          Quisque at purus at libero auctor molestie. Vestibulum vel dictum quam.

        </p>
      </div>
    </mat-card>
  </div>
  <div class="right sect">
    <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" alt="imagen">
  </div>
</div>
