<div class="tab-container">
  <div class="left sect">
    <mat-card>
      <div class="title">Juez Virtual Para Compiladores</div>
      <div class="description">
        <p>
          Una herramienta de estudio para programación competitiva busca de manera óptima, reforzar los conocimientos, y
          el proceso de aprendizaje para aquellos que deseen ser parte de un equipo de programación competitiva, o un
          grupo de estudio, todo esto centrándose en temáticas típicas de una maratón cómo pueden ser: procesamiento de
          string, estructuras de datos, programación dinámica, lógica matemática, teoría de números, entre otras. para
          formalizar todo este proceso a través de una aplicación y un ajuste de metodologías y técnicas, se ve
          necesario adaptar también el nivel en el que se encuentran los estudiantes, por esta razón la plataforma
          brindará ayuda desde el nivel más básico, hasta el superior.
        </p>
      </div>
    </mat-card>
  </div>
  <div class="right sect">
    <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" alt="imagen">
  </div>
</div>
